.hero {
  position: relative;
  height: 100vh;
}

.hero__body {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.hero__img {
  flex: 1 1 0;
  background: url('../../assets/images/hero.jpg') center no-repeat; 
  background-size: cover;

  @media (max-width: $screen-sm) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.hero__bg {
  flex: 1 1 0;
  background-color: #000;
  
  @media (max-width: $screen-sm) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.7;
  }
}

.hero__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  right: 0;
  height: 100%;
  color: #fff;
  padding-top: 80px;
  padding-left: 60px;
  overflow: hidden;
  z-index: 7;

  @media (max-width: $screen-lg) {
    padding-left: 30px;
  }

  @media (max-width: $screen-md) {
    padding-left: 20px;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  .hero__title {
    margin-bottom: 40px;
    font-family: $bebas-neue;
    text-transform: uppercase;
    font-size: 130px;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 0.8;

    @media (max-width: $screen-xl) {
      font-size: 100px;
    }

    @media (max-width: $screen-lg) {
      font-size: 80px;
    }

    @media (max-width: $screen-md) {
      font-size: 50px;
    }
  }
  
  .hero__text {
    font-family: $open-sans;
    max-width: 500px;
    margin-bottom: 70px;
    padding-right: 10px;
  }

  .hero__shop {
    display: block;
    padding: 15px 30px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-main;
    text-transform: uppercase;
    font-family: $bebas-neue;
    letter-spacing: 1px;
    font-size: 24px;
    color: #fff;
    transition: all 0.1s linear;

    &:hover {
      background-color: #fff;
      color: $color-main;
    }
  }
}
