.portfolio__gallery {
  position: relative;
  height: 670px;

  @media (max-width: $screen-lg) {
    height: 540px;
  }

  @media (max-width: 800px) {
    height: 450px;
  }

  @media (max-width: $screen-sm) {
    height: 100%;
  }
}

.portfolio__link {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  a {
    display: block;
    font-family: $bebas-neue;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-main;
    border: 1px solid $color-main;
    padding: 10px 40px;
  }
}

