.page-divider {
  height: 110px;
}

.page-divider__line {
  position: relative;
  top: 50%;
  border: none;
  height: 2px;
  background-color: #ccc;
}

.page-divider__arrow-wrapper {
  position: absolute;
  width: 106px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.page-divider__arrow {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}