.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.header__body {
  display: flex;
  align-items: center;
  height: 85px;
}

.header__menu {
  margin-left: auto;
}

.header__logo {
  margin-right: 60px;
  width: 140px;
  min-width: 140px;

  @media (max-width: $screen-lg) {
    min-width: 120px;
    margin-right: 0px;
  }

  img {
    max-width: 100%;
  }
}