.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ul {
    list-style: none;
  }
}

.footer-social__list {
  display: flex;
}

.footer-social__item {
  margin: 0px 7px;
  font-size: 18px;
  cursor: pointer;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  transition: background-color .1s linear;

  &:hover {
    background-color: $color-main;
  }
}