$color-main:      #4e26fd;
$text-primary:    #000;

$header-height:   85px;
$header-scrolled-height:   65px;

$bebas-neue:      "Bebas Neue", "Arial", "sans-serif";
$open-sans:       "Open Sans", "Arial", "sans-serif";


$light:           300;
$normal:          400;
$medium:          500;
$semibold:        600;
$bold:            700;


$screen-xl:       1200px;
$screen-lg:       1023px;
$screen-md:       767px;
$screen-sm:       575px;
$screen-xs:       413px;