$color-main:      #4e26fd;

$text-primary:    #000;


$bebas-neue:      "Bebas Neue", "Arial", "sans-serif";
$open-sans:       "Open Sans", "Arial", "sans-serif";

$light:           300;
$normal:          400;
$medium:          500;
$semibold:        600;
$bold:            700;