.gallery {
  position: relative;
}

.gallery__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-main;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.gallery__overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $open-sans;
  font-size: 16px;
  font-weight: $semibold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

}


.gallery__img {
  position: absolute;
  z-index: 5;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
  }

  &:hover .gallery__overlay {
    opacity: 0.7;
  }
  &:hover .gallery__overlay-text {
    opacity: 1;
  }
}

.gallery__img_main {
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery__img_1 {
  top: 50%;
  left: 50%;
  transform: translate(80%, -110%);
  width: 25%;
}

.gallery__img_2 {
  top: 50%;
  left: 50%;
  transform: translate(-170%, -120%);
  width: 22%;
}

.gallery__img_3 {
  top: 50%;
  left: 50%;
  transform: translate(80%, 50%);
  width: 18%;
}

.gallery__img_4 {
  top: 50%;
  left: 50%;
  transform: translate(-120%, 20%);
  width: 27%;
}