.section-title {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: $bebas-neue;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $screen-md) {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.section-title_portfolio {
  margin-bottom: 0;
}