.section-title {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: "Bebas Neue", "Arial";
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.section-title_portfolio {
  margin-bottom: 0;
}