.social {
  ul {
    list-style: none;
  }
}

.social__list {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 7px;
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  font-size: 18px;
  cursor: pointer;
}

.social__link {
  color: #fff;
  text-decoration: none;
}
