.top-nav {
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.top-nav__list {
  display: flex;
}

.top-nav__link {
  text-transform: uppercase;
  padding: 12px 40px;
  color: #fff;
  font-family: $bebas-neue;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: background-color .1s linear;

  &:hover {
    background-color: $color-main;
  }
}