.top-nav {
  transition: all 0.2s linear;
  
  @media (max-width: $screen-md) {
    display: block;
    position: fixed;
    top: $header-height;
    right: -320px;
  }

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  &.active {
    @media (max-width: $screen-md) {
      transform: translateX(-320px);
    }
  }
}

.top-nav__list {
  display: flex;

  @media (max-width: $screen-md) {
    flex-direction: column;
    background-color: #000;
  }
}

.top-nav__item {

  @media (max-width: $screen-md) {
  }
}

.top-nav__link {
  text-transform: uppercase;
  padding: 12px 40px;
  color: #fff;
  font-family: $bebas-neue;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: background-color .1s linear;

  @media (max-width: $screen-xl) {
    padding: 12px 30px;
  }

  @media (max-width: $screen-lg) {
    padding: 12px 25px;
  }

  @media (max-width: $screen-md) {
    display: block;
    font-size: 35px;
    width: 320px;

  }

  &:hover {
    background-color: $color-main;
  }
}