.ware__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ware-nav__list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.ware-nav__item {
  position: relative;
  cursor: pointer;
  top: 1px;
  padding: 15px 30px;
  font-family: $bebas-neue;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;

  &:hover {
    background-color: $color-main;
    color: #fff;
  }
}



